* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2,
h3,
h4,
h5 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0B788E;
    width: 100%;
    padding: 0% 10%;
}

.logo {
    max-width: 20%;
}

.search {
    background-color: #0B8E87;
    border-radius: 10px;
    border-color: #FFE609;
    height: 30px;
    width: 125px;
    color: white;
    text-align: center;
}

::placeholder {
    color: white;
    text-align: center;
    padding-left: 5px;
}

.card-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(510px, 1fr));
    grid-auto-rows: minmax(250px, auto);
    gap: 30px;
    grid-auto-flow: dense;
}

@media (max-width: 50px) {
    .card-container {
        width: 50%;
    }
}

.card {
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 510px;
    height: 270px;
    border-radius: 25px;
    box-shadow: 0px 0px 15px 1px #FFE609;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    filter: opacity(0.95);
    transform: scale(1.05);
}

.image-div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px 0px 0px 25px;
    width: 45%;
}

.image {
    border-radius: 5%;
    width: 90%;
    height: 90%;
}

.info-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0px 25px 25px 0px;
    width: 55%;
    background-color: #0B8E87;
}

.name-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    width: 100%;
    height: 25%;
}

.name-h1 {
    font-family: Arial, Helvetica, sans-serif;
    /* margin-bottom: 5px; */
    color: #F49301;
    -webkit-text-stroke: 0.5px black;
    height: 93%
}

.state-specie-div {
    display: flex;
    width: 100%;
    height: 15%;
}

.status-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: solid black 1px; */
    width: 50%;
    height: 100%;
}

.status-dead {
    /* -webkit-text-stroke: 1px red; */
    background-color: #a50101;
    padding: 3px;
    border-radius: 10px;
}

.status-alive {
    /* -webkit-text-stroke: 1px red; */
    background-color: #25ac03;
    padding: 3px;
    border-radius: 10px;
}

.status-unknown {
    /* -webkit-text-stroke: 1px red; */
    background-color: #616361;
    padding: 3px;
    border-radius: 10px;
}

.specie-div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid black 1px; */
    width: 50%;
    height: 100%;
}

.type_gender-div {
    display: flex;
    width: 100%;
    height: 15%;
}

.type-div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid black 1px; */
    width: 50%;
    height: 100%;
}

.gender-div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid black 1px; */
    width: 50%;
    height: 100%;
}

.origin-div,
.last-episode-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    padding: 0px 10px;
    /* border: solid black 1px; */
}

.label {
    width: 25%;
}

.label:hover{
    cursor: pointer;
    color: #ffbb00;

}

.id-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 15%;
    padding-right: 15px;
    /* border: solid black 1px; */
}

.pagination {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px 35px;
}

.page {
    display: flex;
    width: 30px;
    height: 40px;
    left: 280px;
    top: 859px;
    background: #0B8E87;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    color: azure;
    cursor: pointer;
}

.page-active{
    display: flex;
    width: 30px;
    height: 40px;
    left: 280px;
    top: 859px;
    background: #9fcb02;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    color: azure;
    cursor: pointer;
}
#Estados{
    background-color: #0B8E87;
    border-color: #FFE609;
    border-radius: 10px;
    color: white;
    text-align: center;
    width: 100px;
    height: 30px;
}